/* ---- User Icon ------------------------------- */
/* -- Icon */
.user-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.user-icon:hover {
	border: 2px solid #5CB85C;
	cursor: pointer;
}

/** -- Image */
.user-icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
