/* ---- Nav link -------------------------------- */
/* -- Link */
.nav-link {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
}
.nav-link:visited { color: inherit; }

.App.light .nav-link, .App.light .nav-link:visited { color: inherit; }
.App.dark .nav-link, .App.dark .nav-link:visited { color: var(--dark-primary-text-color); }

/* -- Icon */
.nav-link .link-icon {
	display: inline-block;
	text-align: center;
	width: 1em;
	height: 40px;
	padding: 0 10px;
	transition: 100ms color ease-in;
}

.nav-link .link-icon svg {
	max-width: 100%;
	max-height: 100%;
	color: inherit;
}

/* -- Label */
.nav-link .link-label {
	display: inline-block;
	width: 100%;
	padding-left: 0.20em;
}
