/* ---- Modules page -------------------------- */
/* -- Fixing calendar */
.Kalend__Calendar__table {
    height: 500px !important;
}

.Kalend__WeekNumbersCol__wrapper{
    height: 500px !important;
}

/* -- Random stuff */
.year_title {
    text-align: center;
}

/* -- Modules root */
.modulesRoot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: var(--primary-text-color);
}

.modules_list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 5%;
    overflow: auto;
}

@media (max-width: 1000px) {
    .modules_list {
        display: flex;
        flex-direction: column;
    }

    .modules_list .module_box {
        margin: 20px 0;
    }

    .modules_list .module_box .note_ects_img {
        display: none;
    }

    .modules_list .module_box .note_infos .note_misc {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .modules_list .module_box .note_infos .note_misc .note_title{
        margin: 0 !important;
    }

    .module_box-content {
        top: auto;
    }
}