/* ---- Modules page -------------------------- */
/* -- Fixing calendar */
.Kalend__Calendar__table {
    height: 500px !important;
}

.Kalend__WeekNumbersCol__wrapper{
    height: 500px !important;
}

/* -- Random stuff */
.year_title {
    text-align: center;
}