/* ---- Global ---------------------------------- */
/* -- Colors */
:root {
  --primary-color: #3D2683;
  --primary-color-light: #604797;
  --primary-text-color: #2E2E2E;
  --secondary-color: #0F58A8;
  --secondary-text-color: #012169;

  --border-color: #D3D3D3;

  --error-color: #D3495F;
  --warning-color: #F0AD4E;
  --info-color: #0275D8;
  --success-color: #5CB85C;
}

/* -- Body */
body {
  color: var(--primary-text-color);
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

/* -- Special classes */
.secondary-link,
.secondary-link-wrapper a {
  position: relative;
  color: #0275D8;
  font-weight: 600;
  text-decoration: none;
}

.secondary-link::before,
.secondary-link-wrapper a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0.104em;
  background-color: #0275D8;
  transition: width 600ms cubic-bezier(0.25, 1, 0.5, 1);
}
.secondary-link:focus,
.secondary-link-wrapper a:focus { outline: none; }

@media (hover: hover) and (pointer: fine) {
  .secondary-link:hover::before,
  .secondary-link-wrapper a:hover::before {
    right: auto;
    left: 0;
    width: 100%;
  }
}

/* -- Table */
.TableMainWrapper {
  border: 1px var(--border-color) solid;
  border-radius: 10px;
  overflow: hidden;
}

.TableMain {
  border-collapse: collapse;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.TableMain thead tr {
  height: 60px;
  background: var(--primary-color);
}

.TableMain th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.TableMain tbody tr {
  height: 50px;
  font-size: 15px;
  color: var(--primary-text-color);
  line-height: 1.2;
  font-weight: unset;
  transition: background-color 200ms;
}

.TableMain td, .TableMain th {
  text-align: left;
  padding: 0 20px;
}

.TableMain tbody tr:hover {
  background-color: #ededed !important;
}

.TableMain tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.TableMain a {
  text-decoration: none;
  color: var(--secondary-color)
}

/* -- Fonts */
/* - Segoe UI */
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Light"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semilight"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semibold"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 700;
}
