/* -- Module element */
.module {
    width: 15%;
    min-height: 100px;
    /*border: 3px var(--primary-color) solid;*/
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%)
}

.module_longname {
    margin: 0 10px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.module_name {
    margin: 0 0 5px;
    background-color: #d1c1ff;
    border-radius: 6px 6px 0 0;
}

.module_description {
    margin: 0 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* -- Module element animation */
/*.hide_module {
    opacity: 0;
    transition: opacity 0.5s linear;
}*/

.show_module {
    opacity: 1;
}